/*Maxence Persello*/

:root {
    --primary: rgb(44, 41, 154);
    --secondary: rgba(157, 17, 108, 1);
    --tertiary: rgba(231, 57, 37, 1);
}

#display {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    padding: 20px;
    margin: 50px auto;
    max-width: 80%;
    backdrop-filter: blur(10px);
}

header {
    text-align: center;
    font-size: larger;
    font-size: 40px;
    color: var(--primary);
}

#titre {
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../img/wave.svg') no-repeat center center fixed;
    background-size: cover;
}

section, .box {
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

a, .clickable {
    color: var(--secondary);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

a:hover, .clickable:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* NAV */
nav #navigation {
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 0;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

nav #navigation li {
    padding: 0 10px;
    font-size: 18px;
}

/* SUBMIT */
input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--tertiary);
}

/* FORM CONNEXION DECONNEXION*/
.sessionForm ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sessionForm li {
    margin-bottom: 10px;
}

.sessionForm label {
    display: block;
    font-weight: bold;
}

.sessionForm input[type="text"],
.sessionForm input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.sessionForm input[type="submit"] {
    width: calc(50% - 5px);
}

.sessionForm {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

/* CAROUSEL */
.carousel {
    position: relative;
}

.slides {
    position: inherit;
    display: none;
    width: 100%;
    border-radius: 10px;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 0 8px 8px 0;
}

.next {
    right: 0;
    border-radius: 8px 0 0 8px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 5;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration-style: none;
}

/* SIDEBAR */
#user {
    position: relative;
    display: inline-block;
}
#sidebar {
    width: 100%;
    padding: 0;
    position: absolute;
    top: 1lh;
    left: -10px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(30px);
    text-wrap: nowrap;
    overflow: hidden;
    border-radius: 20px;
    z-index: 9;
}

#user:hover #sidebar, #sidebar:hover {
    padding: 5px 10px;
    height: auto;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    padding: 8px;
    text-align: center;
}

#sidebar ul li a {
    text-decoration: none;
    color: #333;
}

#sidebar ul li a:hover {
    color: #555;
}

/* NOTIFICATION */
.notification {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    color: #fff;
    border-radius: 15px;
    transition: top 0.5s ease;
}

/* QCM */
#listeRep {
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

#QMarge {
    margin-bottom: 20px;
}

#listeRep p {
    font-size: 18px;
    margin-bottom: 10px;
}

#listeRep input[type="radio"] {
    margin-right: 20px;
}

#listeRep label {
    display: inline-block;
    margin-right: 20px;
}

.reponse {
    width: 20%;
    margin-right: 10px;
    border-radius: 10px;
    align-items: center;
    width: calc(20%-10px);
    display: flex;
    align-items: center;
}

.reponse input[type="radio"]{
    display: none;
}

.reponse label {
    border: solid 3px white;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.reponse input[type="radio"]:checked + label {
    border: solid 3px green;
}

.listeReponse {
    display: flex;
}