/*Maxence Persello*/

:root {
    --primary: rgb(44, 41, 154);
    --secondary: rgba(157, 17, 108, 1);
    --tertiary: rgba(231, 57, 37, 1);
}

#display {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    padding: 20px;
    margin: 50px auto;
    width: 80%;
    min-width: 500px;
    max-width: 1200px;
    backdrop-filter: blur(10px);
}

header {
    text-align: center;
    font-size: larger;
    font-size: 40px;
    color: var(--primary);
}

#ploodle {
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 150%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../img/wave.svg') no-repeat center center fixed;
    background-size: cover;
}

section, .box {
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

a, .clickable {
    color: var(--secondary);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

a:hover, .clickable:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Heading styles */
h1, h2, h3, h4 {
    font-weight: bold;
    color: var(--primary);
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

h4 {
    font-size: 18px;
    margin-bottom: 10px;
}


/* NAV */
#navigation {
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 0;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-bottom: 20px;
}

#navigation li {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

/* SUBMIT */
input[type="submit"], input[type="reset"] {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: var(--tertiary);
}

/* FORM CONNEXION DECONNEXION*/
.sessionForm ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sessionForm li {
    margin-bottom: 10px;
}

.sessionForm label {
    display: block;
    font-weight: bold;
}

.sessionForm input[type="text"],
.sessionForm input[type="password"],
.sessionForm select {
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.sessionForm input[type="submit"] {
    width: 50%;
}

.sessionForm {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

/* CAROUSEL */
.carousel {
    position: relative;
}

.slides {
    position: inherit;
    display: none;
    width: 100%;
    border-radius: 10px;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 0 8px 8px 0;
}

.next {
    right: 0;
    border-radius: 8px 0 0 8px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 5;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration-style: none;
}

/* SIDEBAR */
#user {
    position: relative;
    display: inline-block;
}

#sidebar {
    width: 200px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(30px);
    text-wrap: nowrap;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 1.8lh;
}

#user:hover #sidebar, #sidebar:hover {
    height: auto;
    padding-top: 10px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar li {
    text-align: left;
    padding-left: 15%;
}

#sidebar li:hover{
    background-color: rgba(150, 150, 150, 0.5);
}

#sidebar a {
    text-decoration: none;
    color: #333;
}

#sidebar li:last-child {
    border-top: solid 1px black;
}

/* QCM */
#listeRep {
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

#QMarge {
    margin-bottom: 20px;
}

#listeRep p {
    font-size: 18px;
    margin-bottom: 10px;
}

#listeRep input[type="radio"] {
    margin-right: 20px;
}

#listeRep label {
    display: inline-block;
    margin-right: 20px;
}

.reponse {
    width: 20%;
    margin-right: 10px;
    border-radius: 10px;
    align-items: center;
    width: calc(20%-10px);
    display: flex;
    align-items: center;
}

.reponse input[type="radio"]{
   display: none;
}

.reponse label {
    border: solid 3px white;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: border 0.3s ease;
}

.reponse input[type="radio"]:checked + label {
    border: solid 3px green;
}

.listeReponse {
    display: flex;
}

/* INSCRIPTION */
#btnAdmin input {
    display: none;
}

#btnAdmin input:checked + label {
    border: solid 3px green;
}

#btnAdmin label {
    border: solid 3px red;
    width: 75%;
    margin: 20px auto 0 auto;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: border 0.3s ease;
}

/* GESTION UTILISATEURS */
#searchInput {
    width: 75%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

/* TABLES */

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.table th {
    background-color: var(--primary);
    color: white;
}

.table tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.table td a {
    margin-right: 20%;
}

/* COMMENTAIRES */
.comments {
    margin-top: 20px;
    width: 90%;
    margin-left: 10%;
}

.comment {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.add-forum-button, .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    margin: 20px;
}

.add-forum-button:hover, .button:hover {
    background-color: var(--tertiary);
    text-decoration: none;
}

/* FORMULAIRE AJOUT ARTICLE */

.add-forum-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.add-forum-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.add-forum-form label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px 5px;
}

.add-forum-form input[type="text"],
.add-forum-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.add-forum-form textarea {
    min-height: 3lh;
    max-width: 100%;
    min-width: 100%;
}

/* COURS */

#cours p {
    margin-left: 15px;
}

/* Profile page */
#profil {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#profil li {
    margin-bottom: 10px;
}

#profil li strong {
    margin-right: 5px;
}

#profil h1 {
    color: var(--primary);
    font-size: 36px;
    margin-bottom: 20px;
}

#profil select {
    width: 180px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}